.roulette {
  width: 576px;
  border-radius: 8px;
  padding: 24px;
  border: 2px solid #2e3139;
  overflow: hidden;
  position: relative;
}

.roulette__title {
  font-family: "Alumni Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 1%;
  text-transform: uppercase;
  color: #fdfdfd;
}

.roulette__text {
  font-family: "Alumni Sans", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 20px;
  letter-spacing: 1%;
  vertical-align: middle;
  color: #c3c2bd;
}

.fortune__wheel__pic {
  position: absolute;
  width: 72px;
  height: 72px;
  background: url("../../../public/fortune-wheel.png") no-repeat center;
  background-size: cover;
  top: 24px;
  right: 24px;
}

.roulette__cards__wrapper {
  width: calc(100% + 48px);
  margin: 16px -24px;
  position: relative;
}

.roulette__cards__wrapper::before,
.roulette__cards__wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  width: 80px;
  height: 100%;
  z-index: 15;
  pointer-events: none;
}

.roulette__cards__wrapper::before {
  left: 0;
  background: linear-gradient(to right, rgba(30, 32, 37, 0.9), transparent);
}

.roulette__cards__wrapper::after {
  right: 0;
  background: linear-gradient(to left, rgba(30, 32, 37, 0.9), transparent);
}

.roulette__cards__container {
  display: flex;
  column-gap: 4px;
  will-change: transform;
  position: relative;
}

.roulette__spin__btn {
  width: 100%;
  margin: 16px 0;
  border-radius: 40px;
  padding: 8px 16px;
  border: none;
  background: #ff0633;
  box-shadow:
    0px 4px 4px 0px #0000004d,
    0px 8px 12px 6px #00000026;
  font-family: "Alumni Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  letter-spacing: 1%;
  vertical-align: middle;
  text-transform: uppercase;
  color: #fdfdfd;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.roulette__spin__btn:hover {
  transform: scale(0.95);
}

.roulette__spin__btn.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  filter: grayscale(1);
}

.roulette__spin__btn.winned {
  background: #fdfdfd;
  color: #1e2025;
}

.roulette__spin__btn__icon {
  width: 24px;
  height: 24px;
}

.roulette__spin__btn:hover .roulette__spin__btn__icon {
  animation: presentMove 0.7s ease-out 0.1s 1 normal none;
  transition: all 0.2s linear;
}

@keyframes presentMove {
  0% {
    opacity: 0;
    transform: translateX(-30px) scale(0.8) rotate(-15deg);
  }
  50% {
    opacity: 1;
    transform: translateX(10px) scale(1) rotate(15deg);
  }
  70% {
    transform: translateX(0) scale(1) rotate(-10deg);
  }
  80% {
    transform: translateX(0) scale(1) rotate(10deg);
  }
  90% {
    transform: translateX(0) scale(1) rotate(-5deg);
  }
  100% {
    transform: translateX(0) scale(1) rotate(0);
  }
}

.roulette__promotion__text {
  font-family: "Alumni Sans", sans-serif;
  font-size: 20px;
  letter-spacing: 1%;
  color: #fdfdfd;
  margin: 16px 0 10px 0;
}

.roulette__promotion__progress {
  width: 100%;
  border-radius: 8px;
  padding: 8px 46px;
  border: 1px solid #2e3139;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.roulette__promotion__progress__fill {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 16px;
  background: #ff0633;
  z-index: -2;
}

.roulette__promotion__progress__dig {
  font-family: "Alumni Sans", sans-serif;
  font-weight: 600;
  font-size: 44px;
  letter-spacing: 1%;
  color: #fdfdfd;
  cursor: pointer;
  transition: all 0.2s linear;
}

.roulette__promotion__progress__dig:hover {
  transform: translateY(-2px);
}

.week__prize {
  position: relative;
}

.week__prize::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  background: url("../../../public/week-prize.png") no-repeat center;
  background-size: cover;
  z-index: -1;
}

.roulette__timer {
  margin: 16px 0;
  display: flex;
  column-gap: 18px;
}

.roulette__timer__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
}

.roulette__timer__div__digs {
  display: flex;
  column-gap: 4px;
}

.roulette__timer__div__dig {
  width: 40px;
  text-align: center;
  padding: 8px;
  border-radius: 4px;
  padding: 8px;
  border: 1px solid #fdfdfd;
  font-family: "Kelly Slab", sans-serif;
  font-size: 44px;
  color: #fdfdfd;
  position: relative;
}

.roulette__timer__div__dig.colon::after {
  content: ":";
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translateY(-60%);
  font-family: "Kelly Slab", sans-serif;
  font-size: 44px;
  color: #fdfdfd;
}

.roulette__timer__div__text {
  font-family: "Alumni Sans", sans-serif;
  font-size: 20px;
  letter-spacing: 1%;
  color: #c3c2bd;
}
