:root {
  --color-main-contrast: #fdfdfd;
  --color-additional-grey-1: #c3c2bd;
  --color-additional-grey-2: #2e3139;
  --color-fill: #1e2025;
  --color-accent: #ff0633;
  --font-main: "Alumni Sans", sans-serif;
  --font-additional: "Kelly Slab", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-fill);
  color: var(--color-main-contrast);
  font-family: var(--font-main);
}

button,
a {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
  border: none;
}

.page__container {
  width: 100%;
  max-width: 1176px;
  margin: 0 auto;
}

.page__title {
  font-family: var(--font-additional);
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
  text-transform: uppercase;
  margin-top: 40px;
  text-align: center;
}

.page__subtitle {
  font-family: var(--font-additional);
  font-weight: 400;
  font-size: 44px;
  margin: 32px 0;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.page__subtitle img {
  width: 12px;
  transition: all 0.2s linear;
  cursor: pointer;
}

.page__subtitle img:hover {
  transform: scale(1.2);
}

.section__roulette {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section__quests {
  margin: 32px 0 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 44px 24px;
  grid-auto-rows: 1fr;
}

@media (max-width: 1257px) {
  .page__container {
    max-width: 1000px;
  }
}

@media (max-width: 1045px) {
  .page__container {
    max-width: 980px;
  }
}

@media (max-width: 1024px) {
  .page__container {
    width: 928px;
  }
  .page__title {
    font-size: 44px;
    line-height: 44px;
  }
}

@media (max-width: 980px) {
  .page__container {
    width: 720px;
  }
}

@media (max-width: 745px) {
  .page__container {
    width: 343px;
  }
  .page__subtitle {
    align-items: center;
  }
  .page__subtitle img {
    width: 16px;
    margin-right: 14px;
  }
}

@media (max-width: 358px) {
  .page__container {
    width: 280px;
  }
}
