.card {
  min-width: 120px;
  height: 208px;
  border-radius: 8px;
  border: 1px solid var(--color-additional-grey-1);
  text-align: center;
  color: var(--color-additional-grey-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card__active {
  border: none;
}

.card__label {
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 1%;
  vertical-align: middle;
  text-transform: uppercase;
}

.card__pic {
  width: 100px;
  height: 100px;
  margin: 10px;
  object-fit: contain;
}

.card__value {
  font-family: var(--font-additional);
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0%;
  vertical-align: middle;
}
