.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  backdrop-filter: blur(4px);
}

.roulette__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 476px;
  border-radius: 28px;
  padding: 32px 24px;
  background-color: var(--color-fill);
  box-shadow:
    0px 4px 4px 0px #0000004d,
    0px 8px 12px 6px #00000026;
  text-align: center;
  z-index: 1000;
}

.roulette__modal__title {
  font-weight: 600;
  font-size: 44px;
  letter-spacing: 1%;
  line-height: 44px;
}

.roulette__modal__content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.roulette__modal__content-left {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 1%;
  text-transform: uppercase;
}

.roulette__modal__content-pic {
  width: 120px;
  height: 120px;
}

.roulette__modal__content-right {
  font-family: var(--font-additional);
  font-size: 32px;
}

.roulette__modal__postscript {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 1%;
}

.roulette__modal__btn {
  width: 100%;
  border-radius: 40px;
  padding: 8px 24px;
  background-color: var(--color-accent);
  box-shadow:
    0px 4px 4px 0px #0000004d,
    0px 8px 12px 6px #00000026;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 1%;
  text-transform: uppercase;
  border: none;
  margin-top: 24px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.roulette__modal__btn:hover {
  transform: scale(0.95);
}

@media (max-width: 425px) {
  .roulette__modal {
    max-width: 343px;
    padding: 32px 16px;
  }
}

@media (max-width: 358px) {
  .roulette__modal {
    max-width: 280px;
  }
}
