.header {
  width: 100%;
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  font-family: "Kelly Slab", sans-serif;
  font-size: 44px;
  line-height: 44px;
  text-transform: uppercase;
  color: #fdfdfd;
  position: relative;
}

.header__logo::after {
  content: "vpn";
  position: absolute;
  top: 28%;
  left: 92%;
  transform: rotate(-90deg);
  font-family: "Kelly Slab", sans-serif;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: #fdfdfd;
}

.header__nav__list {
  display: flex;
  column-gap: 16px;
}

.header__nav__list__item {
  list-style-type: none;
  padding: 14px 48px;
  font-family: "Kelly Slab", sans-serif;
  font-size: 20px;
  color: #fdfdfd;
  transition: all 0.2s linear;
  cursor: pointer;
  transition: all 0.2s linear;
}

.header__nav__list__item:not(:nth-child(3)):not(:nth-child(5)):hover {
  transform: translateY(-1px);
}

.header__nav__list__item.download {
  border-radius: 40px;
  background: #ff0633;
  box-shadow:
    0px 4px 4px 0px #0000004d,
    0px 8px 12px 6px #00000026;
  font-family: "Kelly Slab", sans-serif;
  font-size: 20px;
  color: #fdfdfd;
}

.header__nav__list__item.download:hover {
  box-shadow: 0 5px 15px rgba(255, 6, 51, 0.5);
}

.header__nav__list__item.download:active {
  transform: translateY(1px);
}

.header__nav__list__item.account {
  border-radius: 40px;
  border: 1px solid #fdfdfd;
}

.header__nav__list__item.account:hover {
  background: #fdfdfd;
  color: #1e2025;
}

.header__lang__change {
  font-family: "Kelly Slab", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: #fdfdfd;
  position: relative;
  transition: all 0.1s linear;
  cursor: pointer;
  user-select: none;
}

.header__lang__change:hover {
  opacity: 0.8;
}

.header__lang__change::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -33px;
  width: 10px;
  height: 6px;
  background: url("../../../../public/switch-arrow.png") no-repeat center;
  background-size: cover;
  transition: all 0.3s linear;
}

.header__lang__change.dropped::after {
  transform-origin: left;
  transform: rotate(-90deg) translateY(150%);
}

.header__lang__change__dropdown {
  width: 100%;
  height: 100%;
  padding: 5px 0;
  position: absolute;
  top: 100%;
  left: 0;
  pointer-events: none;
}

.header__burger__btn {
  position: relative;
  /* width: 16px;
  height: 10px; */
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s linear;
  display: none;
}

.header__burger__btn__icon {
  width: 100%;
  /* height: 100%; */
}

/* .header__burger__btn:hover {
  transform: scale(1.05);
}

.header__burger__btn::before,
.header__burger__btn::after {
  content: "";
  position: absolute;
  left: 0;
}

.header__burger__btn__stick,
.header__burger__btn::before,
.header__burger__btn::after {
  width: 100%;
  height: 1px;
  background: #fdfdfd;
  transition: all 0.2s linear;
}

.header__burger__btn::before {
  top: 0;
}

.header__burger__btn::after {
  bottom: 0;
}

.header__burger__btn.active {
  transform: rotate(45deg);
}

.header__burger__btn.active::before {
  opacity: 0;
}

.header__burger__btn.active::after {
  top: 44%;
  transform: rotate(90deg);
} */

@media (max-width: 1088px) {
  .header__nav {
    display: none;
  }
  .header__burger__btn {
    display: flex;
  }
  .header__lang__change::after {
    right: -15px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 18px 0;
  }
  .header__lang__change {
    margin-right: 24px;
  }
  .header__lang__change::after {
    right: -25px;
  }
}

@media (max-width: 375px) {
  .header__lang__change {
    margin-right: 23px;
  }
  .header__lang__change::after {
    right: -18px;
  }
}
